:root {
  --primary-color: #0000ff;
  --secondary-color: #f2f2f2;

  --base-font-size: 18px;
  --base-width: 700px;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;

  font-size: var(--base-font-size);
  font-family: 'Roboto Mono', monospace;

  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.list__item::after {
  content: ';';
  margin-left: -2px;
}

.list__item:not(:last-of-type) {
  margin-right: 10px;
}

.footer {
  margin-top: 2em;
}

.footer__links {
  justify-content: center;
}

.page {
  min-height: calc(100vh - 4em);
  padding: 2em 3.5em;
  width: calc(var(--base-width) - 7em);

  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
}

.page--centered {
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
}

.header {
  align-items: center;
  display: flex;
  height: 70px;
  margin-bottom: 1em;
}

.header__logo {
  display: block;
  height: 70px;
  width: 70px;
}

.header__nav {
  margin-left: auto;
}

.vlist {
  list-style-type: none;
}

.vlist__item::before {
  content: '*';
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  .content-box__header {
    display: block;
    margin-bottom: 0;
  }

  .content-box__nav {
    margin-bottom: 1em;
    margin-left: 0;
  }

  .content-box__nav::after {
    content: '* * *';
    display: block;
    margin-top: 1em;
  }
}
