:root {
  --primary-color: #0000ff;
  --secondary-color: #303234;

  --base-font-size: 18px;
  --base-width: 700px;
}

* {
  margin: 0;
  padding: 0;

  font-size: var(--base-font-size);
  font-family: 'Roboto Mono', monospace;

  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;

  background-color: var(--secondary-color);
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.list__item::after {
  content: ';';
  margin-left: -2px;
}

.list__item:not(:last-of-type) {
  margin-right: 10px;
}

.footer__links {
  justify-content: center;
}

.page {
  min-height: calc(100vh - 2em);
  padding: 1em;
  width: calc(var(--base-width) - 2em);
}

.page__content {
  display: flex;
  flex-direction: column;
}

.page__content__grower {
  flex-grow: 1;
  margin-bottom: 1em;
}

.header {
  align-items: center;
  display: flex;
  height: 70px;
  margin-bottom: 3em;
}

.header__logo {
  display: block;
  height: 70px;
  width: 70px;
}

.header__nav {
  margin-left: auto;
}

.vlist {
  list-style-type: none;
}

.vlist__item::before {
  content: '*';
  margin-right: 1em;
}

.paper {
  height: calc(100% - 4em);
  padding: 2em 3.5em;
  position: relative;

  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.paper::before {
  left: -5px;
  top: 4px;

  background-color: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transform: rotate(-2.5deg);
}

.paper::after {
  right: -3px;
  top: 1px;

  background-color: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transform: rotate(1.4deg);
}

.paper::after,
.paper::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .content-box__header {
    display: block;
    margin-bottom: 0;
  }

  .content-box__nav {
    margin-bottom: 1em;
    margin-left: 0;
  }

  .content-box__nav::after {
    content: '* * *';
    display: block;
    margin-top: 1em;
  }
}
