.article h1 {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 1em;

  text-transform: uppercase;
}

.article h1::after {
  content: '---';
  line-height: 0.5em;
}

.article h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

.article p {
  margin: 1em 0;
}

.article a {
  color: var(--primary-color);
  text-decoration: none;
}

.article ul {
  list-style-type: none;
}

.article ul li::before {
  content: '*';
  margin-right: 0.5em;
}
