.header {
  --header-size: 100px;

  align-items: center;
  display: flex;
  height: var(--header-size);
  justify-content: center;
  margin-bottom: 2em;
}

.header__logo {
  display: block;
  height: var(--header-size);
  width: var(--header-size);
}
