* {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--base-font-size);

  background-color: var(--secondary-color);
  font-family: 'Roboto Mono', monospace;
  text-transform: lowercase;

  -webkit-text-size-adjust: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  margin: 0 auto;
  max-width: calc(100% - 2em);
  min-height: calc(100vh - 4em);
  overflow-y: hidden;
  width: calc(var(--base-width) - 2em);
}

.page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__content__grower {
  flex-grow: 1;
  margin-bottom: 1em;
}

.page__box {
  margin: 1em 0;
}
