* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-size: var(--base-font-size);
  justify-content: center;

  background-color: var(--secondary-color);
  font-family: 'Roboto Mono', monospace;

  -webkit-text-size-adjust: 100%;
}

.page {
  min-height: calc(100vh - 2em);
  padding: 1em;
  width: calc(var(--base-width) - 2em);
}

.page__content {
  display: flex;
  flex-direction: column;
}

.page__content__grower {
  flex-grow: 1;
  margin-bottom: 1em;
}
