.vlist {
  margin: 1em 0;

  list-style-type: none;
}

.vlist .vlist {
  --nested-list-margin-top-bottom: 0.5em;

  margin: var(--nested-list-margin-top-bottom) 0 var(--nested-list-margin-top-bottom) 1.5em;
}

.vlist__item {
  overflow-wrap: break-word;
}

.vlist__item:not(:first-of-type) {
  margin-top: 0.5em;
}

.vlist__item::before {
  content: '*';
  margin-right: 0.5em;
}
