<!DOCTYPE html>
<html>
  <head>
    <title>AsturiasHacking</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="content-box">
      <header class="content-box__header content-box__header--centered">
        <img class="content-box__logo" src="/img/logo.svg" alt="AsturiasHacking">
      </header>
      <div>
        <p>
          ¿Estás en Asturias y quieres charlar un rato sobre desarrollo de software? ¡Únete! Organizaremos charlas y
          talleres, hackearemos un rato, intercambiaremos información y ejecutaremos proyectos Open
          Source para tratar de mejorar nuestro entorno y la sociedad en la que vivimos.
        </p>
      </div>
      <footer class="footer">
        <ul class="footer__links list">
          <li class="list__item"><a href="https://twitter.com/asturiashacking" class="link">twitter</a></li>
          <li class="list__item"><a href="https://meetup.com/asturiashacking" class="link">meetup</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
