<meta property="og:title" content="AsturiasHacking">
<meta property="og:description" content="¿Estás en Asturias y quieres charlar un rato sobre desarrollo de software? ¡Únete! Organizaremos charlas y talleres, hackearemos un rato, intercambiaremos información y ejecutaremos proyectos open source para tratar de mejorar nuestro entorno y la sociedad en la que vivimos">
<meta property="og:image" content="http://asturiashacking.org/img/thumbnail.png">
<meta property="og:url" content="http://asturiashacking.org">
<meta name="twitter:card" content="¿Estás en Asturias y quieres charlar un rato sobre desarrollo de software? ¡Únete! Organizaremos charlas y talleres, hackearemos un rato, intercambiaremos información y ejecutaremos proyectos open source para tratar de mejorar nuestro entorno y la sociedad en la que vivimos">
