<!DOCTYPE html>
<html>
  <head>
    <title>~ | asturiashacking</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/favicon.png?v=2" />

    {{ partial "social_tags" }}

    {{ template "_internal/google_analytics.html" . }}
  </head>
  <body>
    <div class="page">
      <div class="page__content">
        {{ partial "nav" . }}
        <div class="page__content__grower">
          <section>
            <p>¿Estás en Asturias y quieres charlar un rato sobre desarrollo de software? ¡Únete! Organizaremos charlas y talleres, hackearemos un rato, intercambiaremos información y ejecutaremos proyectos Open Source para tratar de mejorar nuestro entorno y la sociedad en la que vivimos.</p>
          </section>

          <section>
            <h1 class="title">¿Cómo participar?</h1>

            <p>Además de organizar reuniones <em>offline</em>, utilizamos varias cuentas en servicios <em>online</em> para diferentes propósitos:</p>

            <ul class="vlist">
              <li class="vlist__item"><a href="https://twitter.com/asturiashacking" target="_blank" class="link">Twitter</a>: Comunicación.</li>
              <li class="vlist__item"><a href="https://meetup.com/asturiashacking" target="_blank" class="link">Meetup</a>: Lugar principal donde anunciamos y gestionamos todos nuestros eventos <em>offline</em>.</li>
              <li class="vlist__item">
                <a href="https://github.com/asturiashacking" target="_blank" class="link">GitHub</a>: Dónde recogemos toda nuestra actividad organizativa: recepción de propuestas para actividades (charlas, talleres, etc.) y discusión de asuntos organizativos (lanzamiento de nuevas iniciativas, orientación de la Comunidad, etc.).
                <ul class="vlist">
                  <li class="vlist__item"><a href="https://github.com/asturiashacking/activities" target="_blank" class="link">asturiashacking/activities</a>: repositorio central de propuestas para charlas, talleres, hackatones y cualquier otra actividad que encaje dentro del alcance de la Comunidad.</li>
                  <li class="vlist__item"><a href="https://github.com/asturiashacking/core" target="_blank" class="link">asturiashacking/core</a>: directorio con documentación fundamental para la comunidad como su código de conducta y área de debate sobre el futuro del grupo.</li>
                </ul>
              </li>
            </ul>
          </section>

          <section>
            <h1 class="title">Contacto</h1>

            <p>Además de los canales presentados en la sección anterior, también disponemos de una dirección de correo eléctronico para poder responder a cualquier petición:</p>

            <ul class="vlist">
              <li class="vlist__item">asturiashacking[at]gmail.com</li>
            </ul>

            O, directamente por Twitter, poniéndose en contacto con cualquiera de los organizadores:

            <ul class="vlist">
              <li class="vlist__item"><a target="_blank" class="link" href="https://twitter.com/sergioalvz_">Sergio</a></li>
              <li class="vlist__item"><a target="_blank" class="link" href="https://twitter.com/tasug0">Manu</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>

    {{ partial "footer" }}
