:root {
  --primary-color: #0000ff;
  --secondary-color: #f2f2f2;

  --base-font-size: 18px;
}

* {
  margin: 0;
  padding: 0;

  font-size: var(--base-font-size);
  font-family: 'Roboto Mono', monospace;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1em;
  width: calc(100% - 2em);

  background-color: var(--secondary-color);
}

.content-box {
  max-width: 700px;

  text-align: center;
}

.content-box__header {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
}

.content-box__header--centered {
  justify-content: center;
}

.content-box__logo {
  height: 4em;
  margin-bottom: 1em;
}

.content-box__nav {
  margin-left: auto;
}

.nav {
  justify-content: center;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.list__item::after {
  content: ';';
  margin-left: -2px;
}

.list__item:not(:last-of-type) {
  margin-right: 10px;
}

.footer {
  margin-top: 2em;
}

.footer__links {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .content-box__header {
    display: block;
    margin-bottom: 0;
  }

  .content-box__nav {
    margin-bottom: 1em;
    margin-left: 0;
  }

  .content-box__nav::after {
    content: '* * *';
    display: block;
    margin-top: 1em;
  }
}
